h1,
h2,
h3,
h4,
p {
  font-family: sans-serif, monospace;
}
h1,
h2 {
  text-align: center;
  margin-top: 50px;
}
h2 {
  color: darkcyan;
}
body {
  height: 100%;
  background-image: url(/images/eastbourne.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 40px;
}
.contentwrap {
  position: relative;
  background: #b6d8eb;
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 200px;
  max-width: 800px;
  padding: 20px;
}

.navbutton {
  li a:hover {
    background-color: #111;
  }
}
.boxtext {
  text-align: center;
  color: black;
  font-size: min(3vw, 20px);
}

.blueboxnoborder {
  padding: 20px;
  height: 100px;
  width: 100px;
  background: rgb(113, 210, 243);
  margin-left: 20px;
  margin-top: 20px;
}
.blueboxborder {
  padding: 20px;
  height: 100px;
  width: 100px;
  background: rgb(113, 210, 243);
  border: solid;
  margin-left: 20px;
  margin-top: 20px;
}
.greenbox1 {
  padding: 20px;
  height: 100px;
  width: 100px;
  background: rgb(79, 152, 128);
  border: solid;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 60px;
  margin-left: 60px;
}
.greenboxpad {
  padding: 40px;
  height: 100px;
  width: 100px;
  background: rgb(79, 152, 128);
  border: solid;
  margin-top: 60px;
  margin-bottom: 60x;
  margin-right: 60x;
  margin-left: 60px;
}
.box {
  max-width: 10vw;
  max-height: 10vw;
}
@media only screen and (max-width: 480px) {
  .contentwrap {
    width: 20%;
  }
}
