h1,
h2,
h3,
h4,
p {
  font-family: sans-serif, monospace;
}
h1,
h2 {
  text-align: center;
  margin-top: 20px;
}
h2 {
  margin: 40px;
  color: darkcyan;
}
p {
  line-height: 1.5;
}
.blogIMG {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  height: 100%;
  background-image: url(/images/eastbourne.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 0px, 40px, 40px, 40px;
}
.contentwrap {
  position: relative;
  background: hwb(31 89% 2%);
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  min-width: 200px;
  max-width: 850px;
  padding: 20px, 20px, 80px 20px;
}
.titlewrap {
  position: relative;
  background: hwb(31 89% 2%);
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
  min-width: 200px;
  max-width: 900px;
  padding: 50px;
}
.navbar {
  font-family: sans-serif, monospace;
  list-style-type: none;
  margin-bottom: 70px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #c39c30;
}
li {
  li a:hover {
    background-color: #7e7e7e;
  }
}
.centertext {
  text-align: center;
}
.boxtext {
  text-align: center;
  color: black;
  font-size: min(3vw, 20px);
}

.blueboxnoborder {
  padding: 20px;
  height: 100px;
  width: 100px;
  background: rgb(113, 210, 243);
  margin-left: 20px;
  margin-top: 20px;
}
.blueboxborder {
  padding: 20px;
  height: 100px;
  width: 100px;
  background: rgb(113, 210, 243);
  border: solid;
  margin-left: 20px;
  margin-top: 20px;
}
.greenbox1 {
  padding: 20px;
  height: 100px;
  width: 100px;
  background: rgb(79, 152, 128);
  border: solid;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 60px;
  margin-left: 60px;
}
.greenboxpad {
  padding: 40px;
  height: 100px;
  width: 100px;
  background: rgb(79, 152, 128);
  border: solid;
  margin-top: 60px;
  margin-bottom: 60x;
  margin-right: 60x;
  margin-left: 60px;
}
.box {
  max-width: 10vw;
  max-height: 10vw;
}
@media only screen and (max-width: 480px) {
  .contentwrap {
    width: 20%;
  }
}
